@use '../Common/mixins' as mix;
@use '../Common/variables' as var;
.container {
    @include mix.DarkMode(var.$dark-mode-on);
    @include mix.Test(var.$test-on);
    display: grid;
    width:100vw;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "header_left header_center header_right"
                         "main_left main_center main_right";
    .header_left {
        @include mix.Test(var.$test-on);
        grid-area: header_left;
    }
    .header_center {
        @include mix.Test(var.$test-on);
        grid-area: header_center;
    }
    .header_right {
        @include mix.Test(var.$test-on);
        grid-area: header_right;
    }
    .main_left {
        @include mix.Test(var.$test-on);
        grid-area: main_left;
    }
    .main_center {
        @include mix.Test(var.$test-on);
        @include mix.flexDisplay(space-between, center, column);
        grid-area: main_center;
        .message_content_container {
            @include mix.Test(var.$test-on);
            width:90%;
            height:100%;
            border: 0.3px solid black;
            @include mix.flexDisplay(start, center, column);
            .message_conent {
                @include mix.flexDisplay(center, center, column);
                @include mix.Test(var.$test-on);
                width:100%;
                height: 5%;
                border: 0.3px solid black;
                .message_my_chat{
                    @include mix.Test(var.$test-on);
                    @include mix.flexDisplay(end, center, row);
                    width:100%;
                    height:80%;
                    border: 0.3px solid rgb(0, 0, 0);
                    p {
                        color:black;
                    }
                }
                .message_other_chat{
                    @include mix.Test(var.$test-on);
                    @include mix.flexDisplay(start, center, row);
                    width:100%;
                    height:80%;
                    border: 0.3px solid rgb(0, 0, 0);
                    p {
                        color:black;
                    }
                }
            }
        }
        
        .chat_input_container {
            @include mix.Test(var.$test-on);
            @include mix.flexDisplay(center, center, row);
            width:80%;
            height: 5%;
            .chat_form_container {
                @include mix.flexDisplay(space-between, center, row);
                width:100%;
                height:100%;
                .chat_input {
                    @include mix.Test(var.$test-on);
                    width: 100%;
                    height:100%;
                    border-radius: 25px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
                }
            }
        }
        
    }
    .main_right {
        @include mix.Test(var.$test-on);
        grid-area: main_right;
    }
}