@use '../Common/mixins' as mix;
@use '../Common/variables' as var;

$main-bg-color: #ffffff; 
$main-text-color: #000000; 
$button-hover-color: #f2f2f2; 
$input-border-color: #cccccc; 


$container-width: 100vw;
$container-height: 100vh;
$container-box-width: 600px;
$container-box-height: 800px;
$form-box-width: 400px;
$form-box-height: 600px;
$credential-box-width: 200px;
$credential-box-height: 30px;
$submit-box-width: 70px;
$submit-box-height: 25px;

.container {
    @include mix.Test(var.$test-on);
    @include mix.flexDisplay(center, center);
    width: $container-width;
    height: $container-height;
    background-color: $main-bg-color;
    color: $main-text-color;

    .container_box {
        @include mix.Test(var.$test-on);
        @include mix.flexDisplay(center, center);
        width: $container-box-width;
        height: $container-box-height;
        background-color: $main-bg-color;
        color: $main-text-color;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 20px;

        .form_box {
            @include mix.Test(var.$test-on);
            @include mix.flexDisplay(center, center, column);
            width: $form-box-width;
            height: $form-box-height;
            background-color: $main-bg-color;
            color: $main-text-color;

            .credential_box, .submit_box {
                @include mix.Test(var.$test-on);
                width: $credential-box-width;
                height: $credential-box-height;
                background-color: $main-bg-color;
                color: $main-text-color;
                border: 1px solid $input-border-color;
                border-radius: 5px;
                padding: 5px;
                margin-bottom: 20px;

                &:focus {
                    outline: none;
                    border-color: darken($input-border-color, 10%);
                }
            }

            .submit_box {
                @include mix.Test(var.$test-on);
                width: $submit-box-width;
                height: $submit-box-height;
                background-color: $main-text-color;
                color: $main-bg-color;
                font-weight: bold;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $button-hover-color;
                }
            }
        }
    }
}
